<div class="center_text">
  <h1 class="is-inline-block">Gráficos en tiempo real con: Angular 6 & socket.io</h1>
</div>
<div class="cont">
  <app-line-chart titulo="Gráfico de lineas"></app-line-chart>
  <app-pie-chart titulo="Gráfico de pastel"></app-pie-chart>
  <app-bar-chart titulo="Gráfico de barras con todas las monedas"></app-bar-chart>
  <app-bar-chart currency="USD" titulo="Solo de USD"></app-bar-chart>
  <app-bar-chart currency="EUR" titulo="Solo de EUR"></app-bar-chart>
  <app-bar-chart currency="NZD" titulo="Solo de NZD"></app-bar-chart>
  <app-bar-chart currency="CAD" titulo="Solo de CAD"></app-bar-chart>
</div>